/* Colors for each theme, change these to change the theme */
.themeTomato {
    --main-bg-color: white;
    --main-heavy-color: #ff2c52;
    --main-light-color: #ffa4a9;
    --fruit-url: url('../images/Tomato.svg');
}
.themeOrange {
    --main-bg-color: white;
    --main-heavy-color: #ffb422;
    --main-light-color: #ffd074;
    --fruit-url: url('../images/Orange.svg');
}
.themeLemon {
    --main-bg-color: white;
    --main-heavy-color: #fbe842;
    --main-light-color: #fff389;
    --fruit-url: url('../images/Lemon.svg');
}
.themeWatermelon {
    --main-bg-color: white;
    --main-heavy-color: #22893f;
    --main-light-color: #ff7575;
    --fruit-url: url('../images/Watermelon.svg');
}
.themeOnion {
    --main-bg-color: white;
    --main-heavy-color: #8f5a88;
    --main-light-color: #c1a8b4;
    --fruit-url: url('../images/Onion.svg');
}
.themeGrape {
    --main-bg-color: white;
    --main-heavy-color: #9332cf;
    --main-light-color: #cca4ff;
    --fruit-url: url('../images/Grape.svg');
}
.themeKiwi {
    --main-bg-color: white;
    --main-heavy-color: #b8985e;
    --main-light-color: #a9c77e;
    --fruit-url: url('../images/Kiwi.svg');
}
.themeCoconut {
    --main-bg-color: white;
    --main-heavy-color: #9e7b67;
    --main-light-color: #ebe8e1;
    --fruit-url: url('../images/Coconut.svg');
}
/*
.themeGrey {
    --main-bg-color: #121212;
    --main-heavy-color: #565656;
    --main-light-color: #565656;
    color: #ffffff;
    --svg-filter: invert(100%);
}
*/
body {
    background-color: var(--main-bg-color);
}

/* Navigation Bar*/

#navButton {
    font-size: min(40px, 5vh);
    cursor: pointer;
    position: absolute;
    right: 2vh;
    top: 1vh;
}

#navBar {
    height: 80vh;
    width: 34vh;
    position: fixed;
    top: 7vh;
    /* Starts off outside screen region, slides in if nav button is pressed, showNav() in js*/
    right: -36vh;
    background-color: inherit;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    z-index: 5;
    padding-right: 1.5vh;
    border: 1px solid var(--main-heavy-color);
}

.navText {
    font-size: min(30px, 3vh);
    height: min(30px, 3vh);
    white-space: nowrap;
    padding: 0.5vh 0vh 0vh 0px;
}

.navContainer {
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.navContainer > label {
    display: block;
    width: 100%;
}

.navContainer > label > input {
    visibility: hidden;
    position: absolute;
}

.navContainer > label > input + span,
.navRectangle {
    position: relative;
    width: 9vh;
    height: 6vh;

    border: min(4px, 0.8vh) solid var(--main-heavy-color);
    border-radius: min(12px, 2.4vh);
    text-align: center;
    cursor: pointer;
    background-color: inherit;
    display: inline-block;
    font-size: min(40px, 4vh);
    font-weight: bold;
    line-height: calc(5.5px + 5.5vh);
    margin-left: 1.5vh;
    margin-bottom: 0.5vh;
}

.navContainer > label > input:checked + span {
    background-color: var(--main-light-color);
}

#volume-image {
    position: relative;
    display: inline-block;
    height: 4vh;
    width: 4vh;
    filter: var(--svg-filter);
}

#volume-slider {
    position: relative;
    width: 65%;
    height: 2vh;
    margin-right: -1%;
    transform: translate(0%, -43%);
    background: linear-gradient(to right, var(--main-heavy-color) 0%, var(--main-heavy-color) 50%, #fff 50%, #fff 100%);
    border: solid 1px var(--main-heavy-color);
    border-radius: 8px;
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2vh;
    height: 2vh;
    background: black;
    border-radius: 50%;
    font-weight: 2vh;
}

#volume-number {
    position: relative;
    display: inline-block;
    font-size: 2vh;
    width: 10%;
    margin: auto;
    text-align: center;
    transform: translate(0%, -50%);
}

/* Pomodoro Timer*/

#title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: min(40px, 5vh);
    height: calc(40px + 2vh);
}

#time {
    visibility: hidden;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: min(30px, 3.75vh);
    height: calc(30px + 1.5vh);
}

#outerContainer {
    height: calc(30px + 30vh);
    width: calc(30px + 30vh);
    max-width: 300px;
    max-height: 300px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#outerCircle {
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: min(20px, 3vh) solid var(--main-heavy-color);
    visibility: visible;
}

#innerCircle {
    cursor: pointer;
    background-color: var(--main-light-color);
    border-radius: 50%;
    border: none;
    display: inline-block;
    outline-style: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 95%;
    width: 95%;
    transform: translate(-50%, -50%);
    color: inherit;
}

#innerCircle:disabled {
    cursor: default;
    background-color: inherit;
}

#innerCircle:disabled > #timerStart {
    display: none;
}

#innerCircle > #animation {
    display: none;
}

#innerCircle:disabled > #animation {
    display: inline-block;
    background-image: var(--fruit-url);
    background-size: 99% 99%;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
}

#innerCircle ~ .pulseCircle {
    display: inline-block;
}

#innerCircle:disabled ~ .pulseCircle {
    display: none;
}

#timerStart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: min(50px, 6.25vh);
    height: min(60px, 10vh);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    visibility: visible;
}

#allPomos {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(25px + 25vh);
    max-height: 250px;

    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#allPomos > label {
    display: block;
}

#allPomos > label > input {
    visibility: hidden;
    position: absolute;
    pointer-events: none;
}

#allPomos > label > input + span {
    pointer-events: none;
    height: calc(4px + 1.5vh);
    width: calc(4px + 1.5vh);
    max-height: 15px;
    max-width: 15px;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    border: 4px solid var(--main-heavy-color);
    display: inline-block;
    visibility: visible;
}

#allPomos > label > input:checked + span {
    pointer-events: none;
    background-color: var(--main-light-color);
}

.skipResetButton {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    max-height: 50px;
    max-width: 130px;
    height: calc(10px + 5vh);
    width: calc(20px + 13vh);
    background-color: var(--main-light-color);
    border: min(5px, 0.9vh) solid var(--main-heavy-color);
    cursor: pointer;
}

#timerButtons > button {
    margin: auto;
    display: block;
    background-color: var(--main-light-color);
    font-family: 'Montserrat', sans-serif;
    font-size: min(20px, 3vh);
    height: calc(10px + 5vh);
    width: calc(20px + 13vh);
}

#timerButtons > button:disabled {
    display: none;
}

.time {
    float: left;
}

#clockDisplay {
    margin: auto;
    width: 63%;
    align-self: center;
}

.modal {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    position: absolute;
    background-color: var(--main-bg-color);
    margin: auto;
    width: 500px;
    max-width: 75vw;
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
    font-size: calc(16px + 0.2vw);
    font-family: 'Montserrat', sans-serif;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cancel {
    float: right;
    font-size: calc(16px + 0.2vw);
    font-weight: bolder;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: #189cd4;
}

.confirm {
    float: right;
    font-size: calc(16px + 0.2vw);
    font-weight: bolder;
    padding: 5px;
    cursor: pointer;
    color: #f41111;
}

#border {
    fill: var(--main-bg-color);
}

.pulseCircle {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--main-light-color);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: -1;
    visibility: visible;
    animation: pulse 3s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes pulse {
    from {
        transform: scale(1, 1);
        opacity: 1;
    }
    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}
