/* Colors for each theme, change these to change the theme */

.themeOrange {
    --main-bg-color: white;
    --main-heavy-color: #ffb422;
    --main-light-color: #ffd074;
    --fruit-url: url('images/Orange.svg');
}

.themeBlue {
    --main-bg-color: white;
    --main-heavy-color: #23c6fa;
    --main-light-color: #95ecff;
    --fruit-url: url('images/Onion.svg');
}

.themeGreen {
    --main-bg-color: white;
    --main-heavy-color: #66e466;
    --main-light-color: #b5ffae;
    --fruit-url: url('images/Tomato.svg');
}

.themePurple {
    --main-bg-color: white;
    --main-heavy-color: #f68de6;
    --main-light-color: #ffdceb;
    --fruit-url: url('images/Grape.svg');
}

.themeYellow {
    --main-bg-color: white;
    --main-heavy-color: #fbe843;
    --main-light-color: #f9fbaa;
    --fruit-url: url('images/Lemon.svg');
}

.themeGrey {
    --main-bg-color: #121212;
    --main-heavy-color: #565656;
    --main-light-color: #565656;
    color: #ffffff;
    --fruit-url: url('images/Coconut.svg');
}

body {
    background-color: var(--main-bg-color);
}

/* Navigation Bar*/

#navButton {
    font-size: 3vw;
    cursor: pointer;
    position: absolute;
    left: 95%;
    top: 1%;
}

#navBar {
    height: 50vw;
    width: 0vw;
    position: fixed;
    top: 5vw;
    right: 0%;
    background-color: var(--main-bg-color);
    /*
    transition: 0.5s;
    */
    white-space: nowrap;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

.navText {
    font-size: 1.5vw;
    white-space: nowrap;
    padding: 8px 8px 8px 32px;
}

.navRectangle {
    position: relative;
    left: 1.5vw;
    height: 3.5vw;
    width: 5vw;
    border: 2px solid var(--main-heavy-color);
    border-radius: 1vw;
    text-align: center;
    line-height: 3.5vw;
    cursor: pointer;
    background-color: var(--main-bg-color);
    white-space: nowrap;
    display: inline-block;
    font-size: 1vw;
    margin: auto;
}

#navContainer {
    position: absolute;
    justify-content: space-evenly;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 60%;
    left: -1.2vw;
}

#longBreakTen {
    background-color: var(--main-bg-color);
}

#longBreakFifteen {
    background-color: var(--main-light-color);
}

#longBreakTwenty {
    background-color: var(--main-bg-color);
}

/* Themes selectors have hardcoded colors */

#themeBlue {
    border: 2px solid #23c6fa;
    background-color: var(--main-bg-color);
}

#themeGreen {
    border: 2px solid #66e466;
    background-color: var(--main-bg-color);
}

#themeOrange {
    border: 2px solid #ffb422;
    background-color: var(--main-bg-color);
}

#themePurple {
    border: 2px solid #f68de6;
    background-color: var(--main-bg-color);
}

#themeYellow {
    border: 2px solid #fbe842;
    background-color: var(--main-bg-color);
}

#themeGrey {
    border: 2px solid #565656;
    background-color: var(--main-bg-color);
}

#volume-image {
    position: absolute;
    top: -0.2vw;
    left: 2.5vw;
    height: 2vw;
    width: 2vw;
}

#volume-slider {
    position: absolute;
    width: 12vw;
    height: 1vw;
    top: 0.15vw;
    left: 7vw;
}

#volume-number {
    position: absolute;
    font-size: 1.1vw;
    top: -1vw;
    left: 5vw;
}

/* Pomodoro Timer*/

#title {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%;
    font-size: 3vw;
}

#entirePomoTimer {
    top: 20%;
    margin: auto;
    width: 100%;
}

#outerCircle {
    height: 17vw;
    width: 17vw;
    background-color: var(--main-bg-color);
    border-radius: 10vw;
    border: 1.3vw solid var(--main-heavy-color);
    /* display: inline-block; */
    visibility: visible;
    position: relative;
    margin: auto;
    /* left: 6%; */
    top: -10%;
}

#innerCircle {
    cursor: pointer;
    height: 90%;
    width: 90%;
    background-color: var(--main-light-color);
    border-radius: 50%;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#allPomos {
    position: relative;
    margin: auto;
    top: 3vw;
    display: flex;
    justify-content: space-evenly;
    width: 12vw;
}

.pomo {
    height: 1vw;
    width: 1vw;
    background-color: var(--main-bg-color);
    border-radius: 50%;
    border: 2px solid var(--main-heavy-color);
    display: inline-block;
    visibility: visible;
}

#timerButtons {
    position: relative;
    margin: auto;
    top: 4vw;
}

.time {
    float: left;
}

#clockDisplay {
    margin: auto;
    /* text-align: center; */
    width: 63%;
    align-self: center;
}

#break {
    margin: auto;
    display: none;
    background-color: var(--main-light-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
}

#end {
    margin: auto;
    display: none;
    background-color: var(--main-light-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
}

#fruitIcon {
    content: var(--fruit-url);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    visibility: hidden;
}

#time {
    position: relative;
    text-align: center;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-bottom: 0.5vw;
    visibility: hidden;
}

#timerStart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    visibility: visible;
}
